.navbar {
    /* background-color: aquamarine; */
    max-width: 1280px;
    width: 85%;
    margin: 10px auto;
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-bottom: 1px solid #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 120px;
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    border: 0.1rem #f1f1f1 solid;
    background-color: #111;
    color: #f1f1f1;
    transition: all 0.35s;
}
.navbar-btn:hover{
    color: #111;
    background-color: #dadada;
    border: 0.1rem #111 solid;
}

/* Product List Styles */

.container {
    max-width: 1280px;
    width: 85%;
    margin: 0 auto;
    padding: 1.2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
}

.product {
    padding: 0.7rem;
    color: #f1f1f1;
    background-color: #222;
    border-radius: 0.6rem;
}

.product-title{
    user-select: text;
}

.product-image {
    height: 70%;
    padding: 0.3rem;
}

.product-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.7rem;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    font-family: 'Courier New';
    font-size: 17px;
    font-weight: 600;
    padding-top: 0.4rem;
}
/* if quantity > 1 : this div appears */
.cart-controll{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-to-cart,.delete-from-cart{
    padding: 0.6rem 0.8rem;
    border-radius: 0.4rem;
    border: 0.1rem solid #f1f1f1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s;
}
.add-to-cart:hover,.delete-from-cart:hover{
    background-color: #f1f1f1de;
    border-color: #666;
}
.cart-counter{
    width: 100px;
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.quantity{
    font-size: 22px;
}
.cart-counter .fa{
    border: 0.1rem solid rgba(255, 255, 255, 0.664);
    padding: 4px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
}
.cart-counter .fa:hover{
    background-color: #cacaca;
    color: #444;
    border-color: #cecece;
}
/* Responsive */

@media  screen and (max-width:767px) {
    .cart-controll{
        width: 100%;
        padding: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
}